### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [22]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count.set_index("Total Players", inplace=True)
player_count

Empty DataFrame
Columns: []
Index: [576]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

table_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
table_df.set_index("Number of Unique Items", inplace=True)
table_df
table_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue':'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [26]:
gender_stats = purchase_data.groupby("Gender")
total_gender = gender_stats.nunique()["SN"]
percentage_players = total_gender / total_players * 100
gender_demographics = pd.DataFrame({"Percentage of Players":percentage_players, "Total Counts":total_gender})
gender_demographics.index.name = None
gender_demographics.sort_values(["Total Counts"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
purchase_count = gender_stats["Purchase ID"].count()
average_purchase_price = gender_stats["Price"].mean()
average_purchase_total = gender_stats["Price"].sum()
average_purchase_per_person = average_purchase_total / total_gender
gender_demographics = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":average_purchase_price, "Average Purchase Value":average_purchase_total, "Average Purchase Total per Person":average_purchase_per_person})
gender_demographics.index.name = "Gender" 
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 44.99, 99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", ">45" ]
purchase_data["Age Group"]= pd.cut(purchase_data["Age"], age_bins, labels= group_names)
purchase_data
age_group = purchase_data.groupby("Age Group")
total_age = age_group["SN"].nunique()

purchase_count_age = age_group["Purchase ID"].count()
average_purchase_price_per_age = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()
average_purchase_per_age = total_purchase_value / total_age
age_demographics = pd.DataFrame({"Purchase Count":purchase_count_age,"Average Purchase Price":average_purchase_price_per_age, "Total Purchase Value":total_purchase_value, "Average Purchase Total per Person":average_purchase_per_age})
age_demographics.index.name = "Age"
age_demographics.style.format({ "Age":"${:,.2f}", "Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
age_totals = purchase_data["Age Group"].value_counts()
age_percents = round(age_totals/total_players * 100, 2)

age_demo = pd.DataFrame({"Total Count": age_totals, "Percent of Players": age_percents})
age_demo = age_demo.sort_index()
print(age_demo)

       Total Count  Percent of Players
<10             23                3.99
10-14           28                4.86
15-19          136               23.61
20-24          365               63.37
25-29          101               17.53
30-34           73               12.67
35-39           41                7.12
40-44           12                2.08
>45              1                0.17

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
spender_stats = purchase_data.groupby("SN")
purchase_count_spender = spender_stats["Purchase ID"].count()
avg_purchase_price_spender = spender_stats["Price"].mean()
purchase_total_spender = spender_stats["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
table_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
table_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [40]:
format = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})